# Environments
.venv/
env/
venv/
.env

# Python
__pycache__/
*.py[cod]

# Local model files
models/
model_gguf/
outputs/
*.gguf
*.safetensors
*.bin
*.pth
data/

# Logs & cache
*.log
cache/

# IDE / OS
.vscode/
.idea/
.DS_Store